<div id="flats">
  <% flats.each do |flat| %>
    <%= render flat %>
    <p>
      <%= link_to "More info", flat %>
      <%= link_to "Edit", edit_flat_path(flat.id) %>
      <%= link_to "Remove", flat_path(flat.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </p>
  <% end %>
</div>
